@font-face {
    font-family: 'bliss';
    src: url('bliss-extra-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'bliss';
    src: url('bliss-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'bliss';
    src: url('bliss-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'bliss';
    src: url('bliss-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'bliss';
    src: url('bliss-extra-bold.woff') format('woff');
    font-weight 900;
    font-style: normal;
}
